:root {
  --red: #ff5c5c;
  --yellow: #fbb03b;
  --gray__dark: #888;
  --gray: #d1d1d1;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.calculator {
  width: 240px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
}

.calculator__result {
  font-size: 24px;
  text-align: right;
  padding: 8px;
  background-color: #e1e1e1;
  border-radius: 4px;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  margin-top: 8px;
}

button {
  font-size: 18px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.calculator__number,
.calculator__operator {
  background-color: #f1f1f1;
}

.calculator__equals {
  grid-column: span 2;
  background-color: var(--yellow);
}

.calculator__clear {
  background-color: var(--red);
}

.calculator__decimal {
  background-color: var(--gray);
}

.calculator__backspace {
  grid-column: span 2;
  background-color: var(--gray__dark);
  color: #fff;
}
